<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
    <% include includes/head %>
<body class="container">
    <% include includes/header %>

<main>
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <h1>About</h1>
                <p>Welcome to my About Page for Project2</p>
                <p>TeamFinder is about how people find others to Play the Greatest Games.
                    With a few games in the database already, players have access to creating and personalizing their accounts so that
                    they can find and be found by the best matched players.

                    Players love the support that they can just log in to the TeamFinder and create and explore more players all
                    over the world.</p>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="well">
                <h3>My ER and Relational Schema</h3>
                <img src="/images/ER.png" />
                <img src="/images/relational.png" />
            </div>
        </div>
    </div>

</main>
<% include includes/footer %>
