<!-- views/about.ejs -->
<!DOCTYPE html>
<html lang="en">
<% include includes/head %>
<body class="container">
<% include includes/header %>


<h1>User's Stats</h1>

<br />

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for K.D ratio">

