<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
      <% include includes/head %>
  <body class="container">
      <% include includes/header %>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>This is Project2</h1>
          <p>Welcome to my Home Page for Project2</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <h3>More information (put something good here)</h3>
        </div>
      </div>
    </div>

  </main>

    <% include includes/footer %>

